* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

.line1 {
  font-size: 12px;
}

.line2 {
  font-size: 14px;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("Amazon Clone (Resources)/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.border {
  border: 1.5px solid transparent;
  border-radius: 2%;
}

.border:hover {
  border: 1.5px solid white;
}

/** navbar location **/
#location1 {
  color: #cccccc;
  margin-left: 40px;
}

#location2 {
  font-weight: 500;
  margin-left: 3px;
}

.location-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-location {
  height: 50px;
  width: 100px;
  padding-top: 5px;
  padding-right: 20px;
}

/** navigation search **/
#nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: #febd69;
  width: 620px;
  height: 40px;
  border-radius: 5px;
}

#search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f1111;
  font-size: 1.3rem;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.search-input {
  border: none;
  width: 100%;
  font-size: 1rem;
}

/** lanhuage-box */
.language-box {
  width: 90px;
  height: 50px;
  background-color: #0f1111;
  display: flex;
}

.language-selector {
  font-size: 1em;
  background-color: #0f1111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: start;
}

#usa-png {
  height: 28px;
  width: 28px;
}

#lang-selector {
  background-color: #0f1111;
  border: none;
  color: #cccccc;
}
